parameters:
  ignoreErrors:
    - '#Call to an undefined method Psr\\Http\\Message\\RequestFactoryInterface::request\(\)\.#'
    - '#Call to an undefined method Ubl\\Iiif\\Presentation\\Common\\Model\\Resources\\ManifestInterface::getOriginalJsonArray\(\)\.#'
    - '#Call to an undefined method Ubl\\Iiif\\Presentation\\Common\\Model\\Resources\\RangeInterface::getMemberRangesAndRanges\(\)\.#'
    -
      message: '#Class TYPO3\\CMS\\Core\\Database\\Schema\\Parser\\Lexer constructor invoked with 0 parameters, 1 required\.#'
      path: ../Classes/Command/DatabaseDocs/Generator.php
    -
      message: '#Parameter \#1 \$statement of class TYPO3\\CMS\\Core\\Database\\Schema\\Parser\\Parser constructor expects string, TYPO3\\CMS\\Core\\Database\\Schema\\Parser\\Lexer given\.#'
      path: ../Classes/Command/DatabaseDocs/Generator.php
    -
      message: '#Method TYPO3\\CMS\\Core\\Database\\Schema\\Parser\\Parser::parse\(\) invoked with 1 parameter, 0 required\.#'
      path: ../Classes/Command/DatabaseDocs/Generator.php
    -
      message: '#Class TYPO3\\CMS\\Core\\TypoScript\\FrontendTypoScriptFactory not found\.#'
      path: ../Classes/Common/TypoScriptHelper.php
    -
      message: '#Call to method createSettingsAndSetupConditions\(\) on an unknown class TYPO3\\CMS\\Core\\TypoScript\\FrontendTypoScriptFactory\.#'
      path: ../Classes/Common/TypoScriptHelper.php
    -
      message: '#Call to method createSetupConfigOrFullSetup\(\) on an unknown class TYPO3\\CMS\\Core\\TypoScript\\FrontendTypoScriptFactory\.#'
      path: ../Classes/Common/TypoScriptHelper.php
    -
      message: '#PHPDoc tag @var for variable \$action contains unknown class TYPO3\\CMS\\Scheduler\\SchedulerManagementAction\.#'
      path: ../Classes/Task/BaseAdditionalFieldProvider.php
    -
      message: '#Access to constant EDIT on an unknown class TYPO3\\CMS\\Scheduler\\SchedulerManagementAction\.#'
      path: ../Classes/Task/BaseAdditionalFieldProvider.php
    -
      message: '#Cannot call method getFirst\(\) on iterable<Kitodo\\Dlf\\Domain\\Model\\SolrCore>|TYPO3\\CMS\\Extbase\\Persistence\\QueryResultInterface\.#'
      path: ../Classes/Controller/Backend/NewTenantController.php
  level: 7
  paths:
    - ../Classes/
  excludePaths:
    - ../Classes/Controller/OaiPmhController.php
    - ../Classes/Command/DbDocs/Generator.php # dbdocs command is not supported in Typo3 v12
  treatPhpDocTypesAsCertain: false
