parameters:
  ignoreErrors:
    - '#Call to an undefined method Psr\\Http\\Message\\RequestFactoryInterface::request\(\)\.#'
    -
      message: '#Call to an undefined method DOMXPath|SimpleXMLElement::getName\(\)\.#'
      path: ../Classes/Common/MetsDocument.php
    -
      message: '#Class TYPO3\\CMS\\Core\\TypoScript\\FrontendTypoScriptFactory not found\.#'
      path: ../Classes/Common/TypoScriptHelper.php
    -
      message: '#Call to method createSettingsAndSetupConditions\(\) on an unknown class TYPO3\\CMS\\Core\\TypoScript\\FrontendTypoScriptFactory\.#'
      path: ../Classes/Common/TypoScriptHelper.php
    -
      message: '#Call to method createSetupConfigOrFullSetup\(\) on an unknown class TYPO3\\CMS\\Core\\TypoScript\\FrontendTypoScriptFactory\.#'
      path: ../Classes/Common/TypoScriptHelper.php
    -
      message: '#Parameter \#1 \$separator of function explode expects non-empty-string, string given\.#'
      path: ../Classes/Controller/ToolboxController.php
    -
      message: '#PHPDoc tag @var for variable \$action contains unknown class TYPO3\\CMS\\Scheduler\\SchedulerManagementAction\.#'
      path: ../Classes/Task/BaseAdditionalFieldProvider.php
    -
      message: '#Access to constant EDIT on an unknown class TYPO3\\CMS\\Scheduler\\SchedulerManagementAction\.#'
      path: ../Classes/Task/BaseAdditionalFieldProvider.php
    -
      message: '#Cannot call method getFirst\(\) on iterable<Kitodo\\Dlf\\Domain\\Model\\SolrCore>|TYPO3\\CMS\\Extbase\\Persistence\\QueryResultInterface\.#'
      path: ../Classes/Controller/Backend/NewTenantController.php
    -
      message: '#PHPDoc tag \@var with type TYPO3\\CMS\\Scheduler\\SchedulerManagementAction is not subtype of native type TYPO3\\CMS\\Scheduler\\Task\\Enumeration\\Action\.#'
      path: ../Classes/Task/BaseAdditionalFieldProvider.php
  level: 7
  paths:
    - ../Classes/
  excludePaths:
    - ../Classes/Common/IiifManifest.php
    - ../Classes/Controller/OaiPmhController.php
    - ../Classes/Command/DatabaseDocs/Generator.php # dbdocs command is not supported in Typo3 v12
  treatPhpDocTypesAsCertain: false
