/.buildpath
/.cache
/.idea/
/.loadpath
/.metadata
/.project
/.settings/
/.vscode
/.phpdoc
/Build/Documentation/_build
/Build/Documentation/venv
/Build/Documentation/dbdocs/var
/Build/Test/.env
/Documentation-GENERATED-temp/
/nbproject/
/public/
/var/
/vendor/
