# Auto detect text files and perform LF normalization
* text=auto

# Enforce checkout with linux lf consistent over all platforms
*.cfg text eol=lf
*.css text eol=lf
*.htaccess text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.php text eol=lf
*.rst text eol=lf
*.sql text eol=lf
*.svg text eol=lf
*.tmpl text eol=lf
*.ts text eol=lf
*.tsconfig text eol=lf
*.txt text eol=lf
*.typoscript text eol=lf
*.xlf text eol=lf
*.xml text eol=lf
*.xsl text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
