*.bak
/.buildpath
/.cache
/.idea/
/.loadpath
/.metadata
/.project
/.settings/
/.vscode
/.phpdoc
/Build/Documentation/_build
/Build/Documentation/venv
/Build/Documentation/dbdocs/var
/Build/node_modules
/Build/Test/.env
/Documentation-GENERATED-temp/
/nbproject/
/public/
/var/
/vendor/
.DS_Store
_build
venv
*.map
