<!-- ###TEMPLATE### -->
<div class="tx-dlf-toc tx-dlf-window tx-dlf-leftwin tx-dlf-open">
	<div class="tx-dlf-minimize"></div>
	<div class="tx-dlf-wincontainer">
		<h3 class="tx-dlf-windowhead">Inhaltsverzeichnis<span class="tx-dlf-moveit"></span></h3>
		<div class="tx-dlf-wincontent tx-dlf-scrollbar">
			###TOCMENU###
		</div>
	</div>
</div>
<!-- ###TEMPLATE### -->