<!-- ###TEMPLATE### -->
<div class="tx-dlf-tools tx-dlf-window tx-dlf-rightwin tx-dlf-open">
	<div class="tx-dlf-minimize"></div>
	<div class="tx-dlf-wincontainer">
		<h3 class="tx-dlf-windowhead">###LABEL###<span class="tx-dlf-moveit"></span></h3>
		<div class="tx-dlf-wincontent tx-dlf-scrollbar">
			<ul>
				<!-- ###TOOLS### -->
				<li>###TOOL###</li>
				<!-- ###TOOLS### -->
			</ul>
		</div>
	</div>
</div>
<!-- ###TEMPLATE### -->