<!-- ###TEMPLATE### -->
	<ul class="tx-dlf-collection-list">
		<!-- ###ENTRY### -->
		<li>
			<h2>###TITLE### <span>###FEED###</span></h2>
			###DESCRIPTION###
			<p class="tx-dlf-collection-counts">(###COUNT_TITLES###/###COUNT_VOLUMES###)</p>
		</li>
		<!-- ###ENTRY### -->
	</ul>
<!-- ###TEMPLATE### -->