<!-- ###TEMPLATE### -->
	<ul>
		<!-- ###ENTRY### -->
		<li>
			<h2>###TITLE### <span>###FEED###</span></h2>
			###DESCRIPTION###
			<p class="counts">(###COUNT_TITLES###/###COUNT_VOLUMES###)</p>
		</li>
		<!-- ###ENTRY### -->
	</ul>
<!-- ###TEMPLATE### -->