<!-- ###TEMPLATE### -->
<div class="tx-dlf-navigation-double">###DOUBLEPAGE###</div>
<div class="tx-dlf-navigation-double+">###DOUBLEPAGE+1###</div>
<div class="tx-dlf-navigation-first">###FIRST###</div>
<div class="tx-dlf-navigation-back">###BACK###</div>
<div class="tx-dlf-navigation-prev">###PREVIOUS###</div>
<div class="tx-dlf-navigation-pageselect">###PAGESELECT###</div>
<div class="tx-dlf-navigation-next">###NEXT###</div>
<div class="tx-dlf-navigation-fwd">###FORWARD###</div>
<div class="tx-dlf-navigation-last">###LAST###</div>
<div class="tx-dlf-navigation-listview">###LINKLISTVIEW###</div>
<!-- ###TEMPLATE### -->