<!--
  Copyright notice

  (c) 2011 Goobi. Digitalisieren im Verein e.V. <contact@goobi.org>
  All rights reserved

  This script is part of the TYPO3 project. The TYPO3 project is
  free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 2 of the License, or
  (at your option) any later version.

  The GNU General Public License can be found at
  http://www.gnu.org/copyleft/gpl.html.

  This script is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  This copyright notice MUST APPEAR in all copies of the script!
-->
<!-- ###TEMPLATE### -->
<div class="tx-dlf-navigation-double">###DOUBLEPAGE###</div>
<div class="tx-dlf-navigation-double+">###DOUBLEPAGE+1###</div>
<div class="tx-dlf-navigation-first">###FIRST###</div>
<div class="tx-dlf-navigation-back">###BACK###</div>
<div class="tx-dlf-navigation-prev">###PREVIOUS###</div>
<div class="tx-dlf-navigation-pageselect">###PAGESELECT###</div>
<div class="tx-dlf-navigation-next">###NEXT###</div>
<div class="tx-dlf-navigation-fwd">###FORWARD###</div>
<div class="tx-dlf-navigation-last">###LAST###</div>
<div class="tx-dlf-navigation-listview">###LINKLISTVIEW###</div>
<!-- ###TEMPLATE### -->