<!--
 * (c) Kitodo. Key to digital objects e.V. <contact@kitodo.org>
 *
 * This file is part of the Kitodo and TYPO3 projects.
 *
 * @license GNU General Public License version 3 or later.
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
-->
<!-- ###TEMPLATE### -->
<div class="tx-dlf-navigation-double">###DOUBLEPAGE###</div>
<div class="tx-dlf-navigation-double+">###DOUBLEPAGE+1###</div>
<div class="tx-dlf-navigation-first">###FIRST###</div>
<div class="tx-dlf-navigation-back">###BACK###</div>
<div class="tx-dlf-navigation-prev">###PREVIOUS###</div>
<div class="tx-dlf-navigation-pageselect">###PAGESELECT###</div>
<div class="tx-dlf-navigation-next">###NEXT###</div>
<div class="tx-dlf-navigation-fwd">###FORWARD###</div>
<div class="tx-dlf-navigation-last">###LAST###</div>
<div class="tx-dlf-navigation-listview">###LINKLISTVIEW###</div>
<!-- ###TEMPLATE### -->
