<!-- ###TEMPLATE### -->
<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="###STYLESHEET###"?>
<OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
	http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd">
	<responseDate>###RESPONSEDATE###</responseDate>
	<request###REQUEST###>###BASE_URL###</request>
	<!-- ###RESPONSE### -->
	<!-- ###ERROR### -->
	<error code="###ERROR_CODE###">###ERROR_MESSAGE###</error>
	<!-- ###ERROR### -->
	<!-- ###IDENTIFY### -->
	<Identify>
		<repositoryName>###IDENTIFY_NAME###</repositoryName>
		<baseURL>###IDENTIFY_URL###</baseURL>
		<protocolVersion>2.0</protocolVersion>
		<earliestDatestamp>###IDENTIFY_DATE###</earliestDatestamp>
		<deletedRecord>transient</deletedRecord>
		<granularity>YYYY-MM-DDThh:mm:ssZ</granularity>
		<adminEmail>###IDENTIFY_MAIL###</adminEmail>
	</Identify>
	<!-- ###IDENTIFY### -->
	<!-- ###GETRECORD### -->
	<GetRecord>
		<record>
			<header###RECORD_DELETED###>
				<identifier>###RECORD_IDENTIFIER###</identifier>
				<datestamp>###RECORD_DATESTAMP###</datestamp>
				<!-- ###RECORD_SETSPEC_ITEM### -->
				<setSpec>###RECORD_SETSPEC###</setSpec>
				<!-- ###RECORD_SETSPEC_ITEM### -->
			</header>
			<!-- ###RECORD_METADATA### -->
			<metadata>
				###RECORD_XML###
			</metadata>
			<!-- ###RECORD_METADATA### -->
		</record>
	</GetRecord>
	<!-- ###GETRECORD### -->
	<!-- ###LISTMETADATAFORMATS### -->
	<ListMetadataFormats>
		<!-- ###LISTMETADATAFORMATS_ITEM### -->
		<metadataFormat>
			<metadataPrefix>###LISTMETADATAFORMATS_PREFIX###</metadataPrefix>
			<schema>###LISTMETADATAFORMATS_SCHEMA###</schema>
			<metadataNamespace>###LISTMETADATAFORMATS_NAMESPACE###</metadataNamespace>
		</metadataFormat>
		<!-- ###LISTMETADATAFORMATS_ITEM### -->
	</ListMetadataFormats>
	<!-- ###LISTMETADATAFORMATS### -->
	<!-- ###LISTSETS### -->
	<ListSets>
		<!-- ###LISTSETS_ITEM### -->
		<set>
			<setSpec>###LISTSETS_SPEC###</setSpec>
			<setName>###LISTSETS_NAME###</setName>
		</set>
		<!-- ###LISTSETS_ITEM### -->
	</ListSets>
	<!-- ###LISTSETS### -->
	<!-- ###LISTIDENTIFIERS### -->
	<ListIdentifiers>
		<!-- ###LISTIDENTIFIERS_ITEM### -->
		<header###RECORD_DELETED###>
			<identifier>###RECORD_IDENTIFIER###</identifier>
			<datestamp>###RECORD_DATESTAMP###</datestamp>
			<!-- ###RECORD_SETSPEC_ITEM### -->
			<setSpec>###RECORD_SETSPEC###</setSpec>
			<!-- ###RECORD_SETSPEC_ITEM### -->
		</header>
		<!-- ###LISTIDENTIFIERS_ITEM### -->
		###RESUMPTIONTOKEN###
	</ListIdentifiers>
	<!-- ###LISTIDENTIFIERS### -->
	<!-- ###LISTRECORDS### -->
	<ListRecords>
		<!-- ###LISTRECORDS_ITEM### -->
		<record>
			<header###RECORD_DELETED###>
				<identifier>###RECORD_IDENTIFIER###</identifier>
				<datestamp>###RECORD_DATESTAMP###</datestamp>
				<!-- ###RECORD_SETSPEC_ITEM### -->
				<setSpec>###RECORD_SETSPEC###</setSpec>
				<!-- ###RECORD_SETSPEC_ITEM### -->
			</header>
			<!-- ###RECORD_METADATA### -->
			<metadata>
				###RECORD_XML###
			</metadata>
			<!-- ###RECORD_METADATA### -->
		</record>
		<!-- ###LISTRECORDS_ITEM### -->
		###RESUMPTIONTOKEN###
	</ListRecords>
	<!-- ###LISTRECORDS### -->
	<!-- ###RESPONSE### -->
</OAI-PMH>
<!-- ###TEMPLATE### -->