<!--
  Copyright notice

  (c) 2011 Kitodo. Key to digital objects e.V. <contact@kitodo.org>
  All rights reserved

  This script is part of the TYPO3 project. The TYPO3 project is
  free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 2 of the License, or
  (at your option) any later version.

  The GNU General Public License can be found at
  http://www.gnu.org/copyleft/gpl.html.

  This script is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  This copyright notice MUST APPEAR in all copies of the script!
-->
<!-- ###TEMPLATE### -->
<form class="tx-dlf-search-form" action="###ACTION_URL###" method="post" enctype="multipart/form-data"><div>
	<label for="tx-dlf-search-query">###LABEL_QUERY###</label>
	<!-- Never change the @id of this input field! Otherwise search suggestions won't work! -->
	<input type="text" id="tx-dlf-search-query" name="###FIELD_QUERY###" value="###QUERY###" />
	<!-- The following element is needed for auto-completion! -->
	<div id="tx-dlf-search-suggest"></div>
	<input type="submit" value="###LABEL_SUBMIT###" />
	###FULLTEXTSWITCH###
	###FIELD_DOC###
	###FIELD_COLL###
	###ADDITIONAL_INPUTS###
	<!-- ###EXT_SEARCH_ENTRY### -->
	<div class="tx-dlf-search-extended">###EXT_SEARCH_OPERATOR### ###EXT_SEARCH_FIELDSELECTOR### ###EXT_SEARCH_FIELDQUERY###</div>
	<!-- ###EXT_SEARCH_ENTRY### -->
</div></form>
<div class="tx-dlf-search-facets">###FACETS_MENU###</div>
<!-- ###TEMPLATE### -->
