<!-- ###TEMPLATE### -->
<form class="tx-dlf-search-form" action="###ACTION_URL###" method="post" enctype="multipart/form-data">
	<label for="###FIELD_QUERY###">###LABEL_QUERY###</label>
	<input type="text" id="###FIELD_QUERY###" name="###FIELD_QUERY###" value="###QUERY###" class="autocomplete" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
	<input type="submit" value="###LABEL_SUBMIT###" />
	###ADDITIONAL_INPUTS###
</form>
<!-- ###TEMPLATE### -->