<!-- ###TEMPLATE### -->
	<ul class="tx-dlf-facets-list">
		<!-- ###FACET### -->
		<li>
			<h2>###TITLE###</h2>
			<!-- ###FACET_VALUES### -->
			<ul class="tx-dlf-facets-values">
				<!-- ###FACET_VALUE### -->
				<li>###NAME### <span>###HITS###</span>
				</li>
				<!-- ###FACET_VALUE### -->
			</ul>
			<!-- ###FACET_VALUES### -->
		</li>
		<!-- ###FACET### -->
	</ul>
<!-- ###TEMPLATE### -->