<!-- Add the following lines before the closing "</web-app>" tag. -->
<web-app>
	<!-- ... -->

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrAdmin (Cores)</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrAdmin (Core0)</web-resource-name>
			<url-pattern>/dlfCore0/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrUpdate (Core0)</web-resource-name>
			<url-pattern>/dlfCore0/update/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
			<role-name>dlfSolrUpdate</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrAdmin (Core1)</web-resource-name>
			<url-pattern>/dlfCore1/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrUpdate (Core1)</web-resource-name>
			<url-pattern>/dlfCore1/update/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
			<role-name>dlfSolrUpdate</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrAdmin (Core2)</web-resource-name>
			<url-pattern>/dlfCore2/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrUpdate (Core2)</web-resource-name>
			<url-pattern>/dlfCore2/update/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
			<role-name>dlfSolrUpdate</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrAdmin (Core3)</web-resource-name>
			<url-pattern>/dlfCore3/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrUpdate (Core3)</web-resource-name>
			<url-pattern>/dlfCore3/update/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
			<role-name>dlfSolrUpdate</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrAdmin (Core4)</web-resource-name>
			<url-pattern>/dlfCore4/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrUpdate (Core4)</web-resource-name>
			<url-pattern>/dlfCore4/update/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
			<role-name>dlfSolrUpdate</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrAdmin (Core5)</web-resource-name>
			<url-pattern>/dlfCore5/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrUpdate (Core5)</web-resource-name>
			<url-pattern>/dlfCore5/update/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
			<role-name>dlfSolrUpdate</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrAdmin (Core6)</web-resource-name>
			<url-pattern>/dlfCore6/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrUpdate (Core6)</web-resource-name>
			<url-pattern>/dlfCore6/update/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
			<role-name>dlfSolrUpdate</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrAdmin (Core7)</web-resource-name>
			<url-pattern>/dlfCore7/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrUpdate (Core7)</web-resource-name>
			<url-pattern>/dlfCore7/update/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
			<role-name>dlfSolrUpdate</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrAdmin (Core8)</web-resource-name>
			<url-pattern>/dlfCore8/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrUpdate (Core8)</web-resource-name>
			<url-pattern>/dlfCore8/update/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
			<role-name>dlfSolrUpdate</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrAdmin (Core9)</web-resource-name>
			<url-pattern>/dlfCore9/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrUpdate (Core9)</web-resource-name>
			<url-pattern>/dlfCore9/update/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
			<role-name>dlfSolrUpdate</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrAdmin (Core10)</web-resource-name>
			<url-pattern>/dlfCore10/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrUpdate (Core10)</web-resource-name>
			<url-pattern>/dlfCore10/update/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
			<role-name>dlfSolrUpdate</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrAdmin (Core11)</web-resource-name>
			<url-pattern>/dlfCore11/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrUpdate (Core11)</web-resource-name>
			<url-pattern>/dlfCore11/update/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
			<role-name>dlfSolrUpdate</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrAdmin (Core12)</web-resource-name>
			<url-pattern>/dlfCore12/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrUpdate (Core12)</web-resource-name>
			<url-pattern>/dlfCore12/update/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
			<role-name>dlfSolrUpdate</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrAdmin (Core13)</web-resource-name>
			<url-pattern>/dlfCore13/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrUpdate (Core13)</web-resource-name>
			<url-pattern>/dlfCore13/update/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
			<role-name>dlfSolrUpdate</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrAdmin (Core14)</web-resource-name>
			<url-pattern>/dlfCore14/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrUpdate (Core14)</web-resource-name>
			<url-pattern>/dlfCore14/update/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
			<role-name>dlfSolrUpdate</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrAdmin (Core15)</web-resource-name>
			<url-pattern>/dlfCore15/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SolrUpdate (Core15)</web-resource-name>
			<url-pattern>/dlfCore15/update/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>dlfSolrAdmin</role-name>
			<role-name>dlfSolrUpdate</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Goobi.Presentation Solr Backend</realm-name>
	</login-config>

	<security-role>
		<description>Goobi.Presentation Solr Administrator</description>
		<role-name>dlfSolrAdmin</role-name>
	</security-role>

	<security-role>
		<description>Goobi.Presentation Solr Updater</description>
		<role-name>dlfSolrUpdate</role-name>
	</security-role>

</web-app>