<!-- ###TEMPLATE### -->
<div class="tx-dlf-pagegrid-pagebrowser">###PAGEBROWSER###</div>
<ol class="tx-dlf-pagegrid-list">
	<!-- ###ENTRY### -->
	<li class="tx-dlf-pagegrid-###STATE###" value="###NUMBER###">
		<div class="tx-dlf-pagegrid-thumbnail">###THUMBNAIL###</div>
		<div class="tx-dlf-pagegrid-pagination">###PAGINATION###</div>
	</li>
	<!-- ###ENTRY### -->
</ol>
<!-- ###TEMPLATE### -->