<!-- ###TEMPLATE### -->
<div class="tx-dlf-pagegrid-pagebrowser">###PAGEBROWSER###</div>
<div class="tx-dlf-pagegrid-grid">
	<!-- ###ENTRY### -->
	<div class="tx-dlf-pagegrid-item" style="float:left;">
		<div>###THUMBNAIL###</div>
		<div>###PAGE###</div>
	</div>
	<!-- ###ENTRY### -->
	<!-- ###ACT_ENTRY### -->
	<div class="tx-dlf-pagegrid-item-act" style="float:left;">
		<div>###THUMBNAIL###</div>
		<div>###PAGE###</div>
	</div>
	<!-- ###ACT_ENTRY### -->
</div>
<!-- ###TEMPLATE### -->