<!--
 * (c) Kitodo. Key to digital objects e.V. <contact@kitodo.org>
 *
 * This file is part of the Kitodo and TYPO3 projects.
 *
 * @license GNU General Public License version 3 or later.
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
-->
<!-- ###TEMPLATE### -->
<h2 class="tx-dlf-listview-label">###LISTTITLE###</h2>
<!--###LISTDESCRIPTION###-->
<p class="tx-dlf-listview-counts">###COUNT###</p>
<!--###SORTING###-->
<!-- <p class="tx-dlf-listview-pagebrowser">###PAGEBROWSER###</p> -->
<form action="###ACTION###" name="tx_dlf" method="post">
    <ol class="tx-dlf-listview-list">
    	<!-- ###ENTRY### -->
    	<li value="###NUMBER###">
    		<!--<div class="tx-dlf-listview-thumbnail">###THUMBNAIL###</div>-->
    		<dl>
                <dt>
                    ###BASKETDATA###
                </dt>
                <dd>
                    <div>###CONTROLS###</div>
                </dd>
    		</dl>
    	</li>
    	<!-- ###ENTRY### -->
    </ol>
<div>
<div>
  ###REMOVEACTION###
</div>
<div>
  ###MAILACTION###
</div>
<div>
  ###PRINTACTION###
</div>
</div>
</form>
###JS###
<!-- ###TEMPLATE### -->
