<!-- ###TEMPLATE### -->
<h2>###LISTTITLE###</h2>
###LISTDESCRIPTION###
<p class="tx-dlf-sortinfo">###COUNT###</p>
<p class="tx-dlf-pagebrowser">###PAGEBROWSER###</p>
<ol class="tx-dlf-abstracts">
	<!-- ###ENTRY### -->
	<li value="###NUMBER###">
		<dl>
			###METADATA###
		</dl>
		<div class="floatclear"></div>
		<!-- ###SUBTEMPLATE### -->
		<ol class="tx-dlf-volume">
			<!-- ###SUBENTRY### -->
			<li>
				<dl>
					###SUBMETADATA###
				</dl>
				<div class="floatclear"></div>
			</li>
			<!-- ###SUBENTRY### -->
		</ol>
		<!-- ###SUBTEMPLATE### -->
	</li>
	<!-- ###ENTRY### -->
</ol>
<!-- ###TEMPLATE### -->