<!-- ###TEMPLATE### -->
<h2 class="tx-dlf-listview-label">###LISTTITLE###</h2>
###LISTDESCRIPTION###
<p class="tx-dlf-listview-counts">###COUNT###</p>
###SORTING###
<p class="tx-dlf-listview-pagebrowser">###PAGEBROWSER###</p>
<ol class="tx-dlf-listview-list">
	<!-- ###ENTRY### -->
	<li value="###NUMBER###">
		<div class="tx-dlf-listview-thumbnail">###THUMBNAIL###</div>
		<dl>
			###METADATA###
		</dl>
		<!-- ###SUBTEMPLATE### -->
		<ol>
			<!-- ###SUBENTRY### -->
			<li>
				<div class="tx-dlf-listview-thumbnail">###SUBTHUMBNAIL###</div>
				<dl>
					###SUBMETADATA###
				</dl>
			</li>
			<!-- ###SUBENTRY### -->
		</ol>
		<!-- ###SUBTEMPLATE### -->
	</li>
	<!-- ###ENTRY### -->
</ol>
<!-- ###TEMPLATE### -->