<!--
 * (c) Kitodo. Key to digital objects e.V. <contact@kitodo.org>
 *
 * This file is part of the Kitodo and TYPO3 projects.
 *
 * @license GNU General Public License version 3 or later.
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
-->
<!-- ###TEMPLATE### -->
<h2 class="tx-dlf-basket-label">###LISTTITLE###</h2>
<p class="tx-dlf-basket-counts">###COUNT###</p>
<form action="###ACTION###" name="tx_dlf" method="post">
    <ol class="tx-dlf-basket-list">
        <!-- ###ENTRY### -->
        <li value="###NUMBER###">
            <dl>
                <dt>
                    ###BASKETDATA###
                </dt>
                <dd>
                    <div>###CONTROLS###</div>
                </dd>
            </dl>
        </li>
        <!-- ###ENTRY### -->
    </ol>
    <div>
        <div>
            ###REMOVEACTION###
        </div>
        <div>
            ###MAILACTION###
        </div>
        <div>
            ###PRINTACTION###
        </div>
    </div>
</form>
###JS###
<div class="tx-dlf-goto-basket">###BASKET###</div>
<!-- ###TEMPLATE### -->
