<!--
 * (c) Kitodo. Key to digital objects e.V. <contact@kitodo.org>
 *
 * This file is part of the Kitodo and TYPO3 projects.
 *
 * @license GNU General Public License version 3 or later.
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
-->
<!-- ###TEMPLATECALENDAR### begin -->
<div class="tx-dlf-calendar">
    <div class="meta-header">
        <div class="year-anchor">
            ###CALALLYEARS###
        </div>
        <div class="year">
            ###CALYEAR###
        </div>
        <div class="calendar-list-selection">
            <a class="select-calendar-view ###CALENDARVIEWACTIVE###">###LABEL_CALENDAR###</a>
            <a class="select-list-view ###LISTVIEWACTIVE###">###LABEL_LIST_VIEW###</a>
        </div>
    </div>
    <div class="calendar-view">
        <!-- ###CALMONTH### begin -->
        ###CALYEAR###
        <table class="month">
            <caption>###MONTHNAME###</caption>
            <tr>
                <th class="">###DAYMON_NAME###</th>
                <th class="">###DAYTUE_NAME###</th>
                <th class="">###DAYWED_NAME###</th>
                <th class="">###DAYTHU_NAME###</th>
                <th class="">###DAYFRI_NAME###</th>
                <th class="">###DAYSAT_NAME###</th>
                <th class="">###DAYSUN_NAME###</th>
            </tr>
            <!-- ###CALWEEK### begin -->
            <tr>
                <td class="">###DAYMON###</td>
                <td class="">###DAYTUE###</td>
                <td class="">###DAYWED###</td>
                <td class="">###DAYTHU###</td>
                <td class="">###DAYFRI###</td>
                <td class="">###DAYSAT###</td>
                <td class="">###DAYSUN###</td>
            </tr>
            <!-- ###CALWEEK### end -->
        </table>
        <!-- ###CALMONTH### end -->
    </div>
    <!-- ###ISSUELIST### begin -->
    <div class="list-view">
        <ul>
            <!-- ###SINGLEDAY### begin -->
            <li>
                <span class="listview-date">###DATE_STRING###</span>

                ###ITEMS###

            </li>
            <!-- ###SINGLEDAY### end -->
        </ul>
    </div>
    <!-- ###ISSUELIST### end -->

</div>
<!-- ###TEMPLATECALENDAR### end -->

<!-- ###TEMPLATEYEAR### begin -->
<div class="tx-dlf-calendar-years">
    <div class="meta-header">
        <div class="year-anchor">
            ###CALALLYEARS###
        </div>
        <div class="meta-hint-year">
            ###LABEL_CHOOSE_YEAR###
        </div>
    </div>
    <div class="year-view">
        <ul>
            <!-- ###LISTYEAR### begin -->
            <li class="year">
                ###YEARNAME###
            </li>
            <!-- ###LISTYEAR### end -->
        </ul>
    </div>
</div>
<!-- ###TEMPLATEYEAR### end -->
