<!--
 * (c) Kitodo. Key to digital objects e.V. <contact@kitodo.org>
 *
 * This file is part of the Kitodo and TYPO3 projects.
 *
 * @license GNU General Public License version 3 or later.
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
-->
<!-- ###TEMPLATE### -->
    <ul class="tx-dlf-collection-list">
        <!-- ###ENTRY### -->
        <li>
            <h2>###TITLE### <span>###FEED###</span></h2>
            <div class="tx-dlf-collection-thumbnail">###THUMBNAIL###</div>
            ###DESCRIPTION###
            <p class="tx-dlf-collection-counts">(###COUNT_TITLES###/###COUNT_VOLUMES###)</p>
        </li>
        <!-- ###ENTRY### -->
    </ul>
<!-- ###TEMPLATE### -->
