<!--
 * (c) Kitodo. Key to digital objects e.V. <contact@kitodo.org>
 *
 * This file is part of the Kitodo and TYPO3 projects.
 *
 * @license GNU General Public License version 3 or later.
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
-->
<!-- ###TEMPLATE### -->
<div class="tx-dlf-pagegrid">
    <div class="tx-dlf-pagegrid-pagebrowser">###PAGEBROWSER###</div>
    <ol class="tx-dlf-pagegrid-list">
        <!-- ###ENTRY### -->
        <li class="tx-dlf-pagegrid-###STATE###" value="###NUMBER###">
            <div class="tx-dlf-pagegrid-thumbnail">###THUMBNAIL###</div>
            <div class="tx-dlf-pagegrid-pagination">###PAGINATION###</div>
        </li>
        <!-- ###ENTRY### -->
    </ol>
</div>
<!-- ###TEMPLATE### -->
