<!--
 * (c) Kitodo. Key to digital objects e.V. <contact@kitodo.org>
 *
 * This file is part of the Kitodo and TYPO3 projects.
 *
 * @license GNU General Public License version 3 or later.
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
-->
<!-- ###TEMPLATE### -->
<div id="tx-dlf-map" class="tx-dlf-map">
    <div id="tx-dlf-fulltextselection"></div>
	<div id="tx-dlf-annotationselection"></div>
</div>
<div class="tx-dlf-navigation-edit">###EDITBUTTON###</div>
<div class="tx-dlf-navigation-editRemove">###EDITREMOVE###</div>
<div class="tx-dlf-interaction-addbasket">###BASKETBUTTON###</div>
###JAVASCRIPT###
<!-- ###TEMPLATE### -->
