<!--
 * (c) Kitodo. Key to digital objects e.V. <contact@kitodo.org>
 *
 * This file is part of the Kitodo and TYPO3 projects.
 *
 * @license GNU General Public License version 3 or later.
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
-->
<!-- ###TEMPLATE### -->
<form class="tx-dlf-search-form" id="tx-dlf-search-in-document-form" action="###ACTION_URL###" method="post" enctype="multipart/form-data">
  <div>
    <label for="tx-dlf-search-query">###LABEL_QUERY###</label>
    <!-- Never change the @id of this input field! Otherwise search won't work! -->
    <input type="text" id="tx-dlf-search-in-document-query" placeholder="###LABEL_SEARCH_IN_DOCUMENT###" name="###LABEL_QUERY_URL###" />
    <input type="submit" id="tx-dlf-search-in-document-button" value="###LABEL_SUBMIT###" onclick="resetStart();" />
    <input type="hidden" id="tx-dlf-search-in-document-start" name="###LABEL_START###" value="0" />
    <input type="hidden" id="tx-dlf-search-in-document-id" name="###LABEL_ID###" value="###CURRENT_DOCUMENT###" />
    <input type="hidden" id="tx-dlf-search-in-document-page" name="###LABEL_PAGE_URL###" />
    <input type="hidden" id="tx-dlf-search-in-document-highlight-word" name="###LABEL_HIGHLIGHT_WORD###" />
    <input type="hidden" id="tx-dlf-search-in-document-encrypted" name="###LABEL_ENCRYPTED###" value="###SOLR_ENCRYPTED###" />
  </div>
</form>
<div id="tx-dlf-search-in-document-loading" style="display: none;">###LABEL_LOADING###...</div>
<div id="tx-dlf-search-in-document-clearing">###LABEL_DELETE_SEARCH###...</div>
<div id="tx-dlf-search-in-document-results"></div>
<div id="tx-dlf-search-in-document-labels" style="display:none;">
    <span id="tx-dlf-search-in-document-label-next">###LABEL_NEXT###</span>
    <span id="tx-dlf-search-in-document-label-previous">###LABEL_PREVIOUS###</span>
    <span id="tx-dlf-search-in-document-label-page">###LABEL_PAGE###</span>
    <span id="tx-dlf-search-in-document-label-noresult">###LABEL_NORESULT###</span>
</div>
<!-- ###TEMPLATE### -->
