<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:dv="http://typo3.org/ns/Slub/Dfgviewer/ViewHelpers"
      xmlns:dc="http://typo3.org/ns/Slub/DigitalCollections/ViewHelpers"
      data-namespace-typo3-fluid="true"
      lang="en">

<data id="metadata" data-screenshotfields="{config.screenshotFields}">
    <f:for each="{video.metadata}" as="metadata" key="key">
        <data id="{key}" value="{metadata.0}"></data>
    </f:for>
</data>
<div class="mime-type-video" data-url="{video.url}">
    <div id="tx-dfgviewer-view" class="tx-dlf-view">
        <div class="media-viewport">
            <div class="mediaplayer-container">
                <div id="mediaplayer-viewport"></div>
                <div class="dfgplayer-help modal">
                    <div class="headline-container">
                        <h3>{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:help.keyboard-mapping')}</h3>
                        <span class="modal-close icon-close"></span>
                    </div>
                    <div class="help-container">
                        <table>
                            <tr>
                                <td class="legend">{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:help.key')}</td>
                                <td class="legend">{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:help.function')}</td>
                            </tr>
                            <tr>
                                <td>{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:help.key-space')}</td>
                                <td>{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:help.play-pause')}</td>
                            </tr>
                            <tr>
                                <td>{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:help.alt-return')}</td>
                                <td>{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:help.fullscreen-on-off')}</td>
                            </tr>
                            <tr>
                                <td>{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:help.escape')}</td>
                                <td>{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:help.close-fullscreen')}</td>
                            </tr>
                            <tr>
                                <td>{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:help.left-right')}</td>
                                <td>{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:help.frame-forward-backward')}</td>
                            </tr>
                            <tr>
                                <td>{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:help.shift-forward-backward')}</td>
                                <td>{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:help.ten-seconds')}</td>
                            </tr>
                            <tr>
                                <td>{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:help.m-key')}</td>
                                <td>{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:help.mute-unmute')}</td>
                            </tr>
                            <tr>
                                <td>{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:help.plus-minus')}</td>
                                <td>{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:help.volume-up-down')}</td>
                            </tr>
                            <tr>
                                <td>{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:help.f1-h')}</td>
                                <td>{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:help.help-window')}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="control-bars">
                    <div id="url-container" style="display: none;">
                        <input type="text" id="url-field" value="http://domain.ltd" onClick="this.select();">
                        <span class="icon-close" onClick="$('#url-container').hide('fast')"></span>
                    </div>
                    <div class="viewport-menu" style="display: none;">
                        <ul class="settings-menu">
                            <li class="settings-menu-item-speed-menu">{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:settings.playback-speed')}: <span class="speed-label">1x</span></li>
                            <li class="settings-menu-item-quality-menu">{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:settings.quality')}: <span class="quality-label">1080p</span></li>
                            <li class="settings-menu-item-subtitle">{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:settings.subtitle')}: <span class="subtitle-label">aus</span></li>
                            <li class="settings-menu-item-language">{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:settings.language')}: <span class="language-label">default (deutsch)</span></li>
                            <li class="settings-menu-item-screenshot">{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:settings.generate-screenshot')}</li>
                            <li class="settings-menu-item-url">{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:settings.generate-url')}</li>
                            <li class="settings-menu-item-help">{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:settings.help')}</li>
                        </ul>
                        <ul class="speed-menu" style="display: none;">
                            <li class="menu-item-back">{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:settings.back')}</li>
                            <f:if condition="{config.speed}">
                                <f:then>
                                    <f:for each="{config.speed}" as="speedvalue">
                                        <li class="speed-menu-item" data-speed="{speedvalue}">{speedvalue}x</li>
                                    </f:for>
                                </f:then>
                                <f:else>
                                    <li class="speed-menu-item" data-speed="1">1x</li>
                                </f:else>
                            </f:if>
                        </ul>
                        <ul class="quality-menu" style="display: none;">
                            <li class="menu-item-back">{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:settings.back')}</li>
                            <li class="quality-menu-item" data-resolution="1080">default</li>
                            <f:comment>
                                <li class="quality-menu-item" data-resolution="1080">1080p</li>
                                <li class="quality-menu-item" data-resolution="720">720p</li>
                                <li class="quality-menu-item" data-resolution="360">360p</li>
                            </f:comment>

                        </ul>
                        <ul class="subtitle-menu" style="display: none;">
                            <li class="menu-item-back">{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:settings.back')}</li>
                            <li class="subtitle-menu-item" data-language="none">none</li>
                            <f:comment>
                                <li class="subtitle-menu-item" data-language="de">deutsch</li>
                                <li class="subtitle-menu-item" data-language="en">englisch</li>
                                <li class="subtitle-menu-item" data-language="cs">tschechisch</li>
                                <li class="subtitle-menu-item" data-language="pl">polnisch</li>
                            </f:comment>

                        </ul>
                        <ul class="language-menu" style="display: none;">
                            <li class="menu-item-back">{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:settings.back')}</li>
                            <li class="language-menu-item" data-language="de">default</li>
                            <f:comment>
                                <li class="language-menu-item" data-language="en">englisch</li>
                                <li class="language-menu-item" data-language="cs">tschechisch</li>
                                <li class="language-menu-item" data-language="pl">polnisch</li>
                            </f:comment>

                        </ul>
                    </div>
                    <div class="timeline-bar">
                        <div class="jp-progress">
                            <div class="jp-seek-bar">
                                <div class="jp-play-bar"></div>
                            </div>
                        </div>
                        <div class="time-counters icon-replay no-select">
                            <div class="time-current">00:00</div>
                            <div class="time-remaining">00:00</div>
                            <div class="frame-current">00</div>
                        </div>
                    </div>
                    <div class="button-bar">
                        <div class="left-controls">
                            <div class="control-button button-play icon-play" title="{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:tooltip.play')}"></div>
                            <div class="control-button button-pause icon-pause" title="{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:tooltip.pause')}"></div>
                            <div class="control-button button-stop icon-stop" title="{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:tooltip.stop')}"></div>
                            <div class="control-button button-backward icon-backward" title="{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:tooltip.fast-backward')}"></div>
                            <div class="control-button button-lastframe icon-lastframe" title="{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:tooltip.frame-back')}"></div>
                            <div class="control-button button-nextframe icon-nextframe" title="{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:tooltip.frame-forward')}"></div>
                            <div class="control-button button-forward icon-forward" title="{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:tooltip.fast-forward')}"></div>
                            <div class="jp-volume-controls">
                                <div class="control-button button-mute icon-unmute"></div>
                                <div class="control-button button-unmute icon-mute"></div>
                                <div class="jp-volume-bar">
                                    <div class="jp-volume-bar-value" style="width: 80%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="right-controls">
                            <div class="control-button button-settings icon-equalizer" title="{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:tooltip.settings')}"></div>
                            <div class="control-button button-fullscreen icon-maximize" title="{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:tooltip.maximize')}"></div>
                            <div class="control-button button-minimize icon-minimize" title="{f:translate(key:'LLL:EXT:dlf/Resources/Private/Language/videoplayer.xlf:tooltip.minimize')}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
