name: PHPStan

on:
    push:
      branches: [ "main" ]
    pull_request:
      branches: [ "main" ]

jobs:
  phpstan:
    name: Static Code Analysis
    runs-on: ubuntu-latest
    strategy:
      matrix:
        variants: [ {typo3: 12.4, php: 8.2}, {typo3: 13.4, php: 8.4}  ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        uses: php-actions/composer@v6
        with:
          command: update
          php_version: ${{ matrix.variants.php }}
          args: --ignore-platform-reqs --with=typo3/cms-core:^${{ matrix.variants.typo3 }}

      - name: PHPStan Static Analysis
        uses: php-actions/phpstan@v3
        with:
          configuration: ./.github/phpstan_${{ matrix.variants.typo3 }}.neon
          path: ''
