name: Run the tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        typo3: [9.5, 10.4]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: Build/Test/runTests.sh -s composerInstall -t ${{ matrix.typo3 }}

      - name: Run unit tests
        run: Build/Test/runTests.sh -s unit

      - name: Run functional tests
        run: Build/Test/runTests.sh -s functional
